.imageshop-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.imageshop-wizard-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
}

.imageshop-wizard {
	background-color: #fff;
	border-radius: 5px;
	border-color: #d9d9d9;
	border-width: 1px;
	display: block;
	z-index: 101;
	position: relative;
	width: 500px;
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	.pull-right {
		float: right;
	}
}

.imageshop-modal-header {
	display: block;
	box-shadow: 0 1px 0 #d9d9d9;
	padding: 10px;

	h2 {
		margin: 0;
	}

	button {
		border: none;
		background: transparent;
		position: absolute;
		right: 0;
		top: 5px;
		cursor: pointer;
	}
}

.imageshop-modal-body {
	padding: 0 10px 10px;
}

.imageshop-modal-actions {
	box-shadow: 0 -1px 0 #d9d9d9;
	padding: 10px 10px 0;
	margin: 10px -10px 0;

	.button {
		margin-left: 10px;

		&:first-of-type {
			margin-left: 0;
		}
	}
}
